.baslik4{
    color: rgb(188, 188, 81);
    background-color: rgb(75, 5, 75);
}
.paragraf4{
    color: rgb(116, 24, 116);
}
body{
    background-color: rgb(245, 192, 123);
    color: rgb(33, 115, 88);

}
